@model RateEverything.Models.CombinedItem


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentItem.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentItem.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentItem.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentItem.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentItem.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentItem.Rating)
        </dd>
    </dl>
</div>
<div>
    <input type="button" onclick="showRatingPopup()" />
    <div id="RatingPopup" style="display:none">
        <form id="ratingForm">
            <label for="rating">Enter a rating from 1-5:</label><br>
            <input type="text" id="rating" name="rating"><br>
            <input type="submit" value="Submit" onclick="postRating('@Model.CurrentItem.ItemId')">
        </form>
    </div>
    <a class="nav-link text-dark" asp-area="" asp-controller="ItemComments" asp-action="Index">Comments</a>
    <a asp-action="Edit" asp-route-id="@Model.CurrentItem.ItemId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
